
@media (max-width: 768px) {
    .form-container {
        width: 90%; 
    }
}




body {
    font-family: 'Brush Script MT', cursive;    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
    background-color: rgb(152, 112, 216);
    border-radius: 8px;
    padding: 12px 24px 12px 12px;

    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('background/bg.jpg'); 
    background-size: cover; 
    background-position: center; 
}

h1 {
    color: #8d2828;
    padding: 12px 24px 12px 12px;
    background-color: pink;
    border-radius: 8px;
}

label {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                                                    
}
button {
    padding: 12px 24px ;
    background-color: #af1e84;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 8px; 
    transition: all 0.3s; 

    &:hover {
        transform: scale(1.05); /* bigger on hover */
    }
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    
}

p{
    padding: 12px 24px 12px 12px;
    background-color: pink;
    border-radius: 8px;
    width: 40%;
    
}

div{
    padding: 1%;
    border-radius: 8px;
    color: #8d2828;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: pink ;
    font-size:x-large
    
}

    
input{
    margin: auto;
    padding: 12px 24px 12px 12px;
    background-color: rgb(236, 177, 214);
    border-radius: 8px;
    width: 40%;
}

